
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   outline: 1px solid red;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

:root {
  --ms-header-color:#2c3e50;
  --ms-header-height:70px;
  --ms-primary-color:#1abc9c;
  --ms-secondary-color:#3a546d;
}

/* COLOR */

.white {
  color: white;
}

.dark {
  color: var(--ms-header-color);
}

/* HEADER */

.ms_header {
  background-color: var(--ms-header-color);
  height: var(--ms-header-height);
  color: white;
}

/* JUMBOTRON */

.ms_primary-bg {
  background-color: var(--ms-primary-color);
  color: white;
}

.ms_avatar {
  width: 200px;
}

/* COMMON */

.ms_small-container {
  width: 60%;
  max-width: 720px;
  margin: 0 auto;
}

.container {
    max-width: 1170p;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.white-line {
  padding: 10px 0 0 0;
  width: 20%;
  height: 4px;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
}

.dark-line {
  padding: 10px 0 0 0;
  width: 20%;
  height: 4px;
  border-bottom: 3px solid var(--ms-header-color);
  margin-bottom: 10px;
}

.gray-line {
  margin-bottom: 15px;
  padding: 15px 0 0 0;
  border-bottom: 3px solid grey;
}

/* FOOTER */

.ms_footer-top {
  background-color: var(--ms-secondary-color);
  color: white;
}

.ms_footer-bottom {
  background-color: var(--ms-header-color);
  color: white;
}


/*********************************************************
TEST COLONNE BOOTSTRAP
**********************************************************/

[class*="col-"] {
    flex: 0 0 auto;
  }
  
  .col-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
  }
  
  .col-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
  }
  
  .col-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
  }
  
  .col-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
  }
  
  .col-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
  }
  
  .col-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
  }
  
  .col-7 {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
  }
  
  .col-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
  }
  
  .col-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
  }
  
  .col-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
  }
  
  .col-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
  }
  
  .col-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
  }

/***********************************************************
SOLUZIONE MEDIA QUERY
************************************************************/

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    
}